---
import NavigationBar from "../components/NavigationBar.astro";
import ProductInfo from "../components/ProductInfo.astro";

export interface Props {
  title: string;
  cost?: number;
  background: string;
  nav: string;
  isBlack?: boolean;
  showButton?: boolean;
  sections?: any;
  info?: any;
  url?: string;
}

const { title, cost, background, nav, isBlack, sections, info } = Astro.props;
let split = background.split(".");
let bg = split[0] + "_mob." + split[1];
---

<div class="hero" class:list={[{ black: isBlack }]}>
  <NavigationBar
    items={sections.map((data) => {
      return data.nav;
    })}
    isBlack={isBlack}
  />
  <img src={background} alt={title} id={nav} class="is-hidden-mobile bg_img" />
  <img src={bg} alt={title} id={nav} class="is-hidden-tablet bg_img" />
  <div class="head-title">
    <h1 class="is-size-2">{title}</h1>{
      cost && (
        <p>
          <u> desde ${cost}</u>
        </p>
      )
    }
  </div>
  {
    cost && (
      <div class="buttons is-centered">
        <a
          href="https://api.whatsapp.com/send/?phone=593984187869&text&type=phone_number&app_absent=0"
          class="button"
        >
          Ordena ahora
        </a>
        {info?.title && (
          <button class="button js-modal-trigger" data-target={info?.title}>
            Conoce más
          </button>
        )}
      </div>
    )
  }
  {info && <ProductInfo info={info} />}
</div>

<script is:inline>
document.querySelectorAll(".js-modal-trigger").forEach(($trigger) => {
  const modal = $trigger.dataset.target;
  const $target = document.getElementById(modal);
  $trigger.addEventListener("click", () => {
    $target.classList.add("is-active");
  });
});
(
  document.querySelectorAll(
    ".modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button"
  ) || []
).forEach(($close) => {
  const $target = $close.closest(".modal");
  $close.addEventListener("click", () => {
    $target.classList.remove("is-active");
  });
});
</script>

<style>
  .hero {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
    color: white;
  }
  .bg_img {
    height: 100vh;
    object-fit: cover;
  }
  .head-title {
    position: absolute;
    width: 100%;
    top: 10%;
    text-align: center;
  }
  h1 {
    width: 100%;
    font-style: normal;
    font-weight: 700;
  }
  p {
    text-align: center;
  }
  .black {
    color: black;
  }
  .buttons {
    width: 100%;
    bottom: 5%;
    position: absolute;
  }
  .button {
    border-style: none;
    width: fit-content;
    font-size: 1.15em;
  }
  .button:hover {
    color: white;
    background-color: #ad7600;
  }

  .black .button:hover {
    color: white;
    background-color: #ad7600;
  }

  .black .button {
    color: white;
    background: #101820;
  }
</style>
