---
import NavigationBar from "../components/NavigationBar.astro";
export interface Props {
  title: string;
  cost?: number;
  background: string;
  nav: string;
  isBlack?: boolean;
  showButton?: boolean;
  sections?: any;
}

const { title, cost, background, nav, isBlack, sections } = Astro.props;
let split=background.split(".")
let bg = split[0]+"_mob."+split[1]
---

<div class="hero" class:list={[ { black: isBlack }]}>
  <NavigationBar items={sections.map((data) => {return data.nav;})} isBlack={isBlack}/>
  <img src={background} alt={title} id={nav} class="is-hidden-mobile"/>
  <img src={bg} alt={title} id={nav} class="is-hidden-tablet" />
  <div class="head-title">
    <h1 class="is-size-2">{title}</h1>{
      cost && (
        <p>
          <u> desde ${cost}</u>
        </p>
      )
    }
  </div>
  {
    cost && (
      <a
        href="https://api.whatsapp.com/send/?phone=593984187869&text&type=phone_number&app_absent=0"
        class="button"
      >
        Ordena ahora
      </a>
    )
  }
</div>

<style>
  .hero {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100%;
    position: relative;
    color: white;
  }

  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
  .head-title {
    position: absolute;
    width: 100%;
    top: 10%;
    text-align: center;
  }
  h1 {
    width: 100%;
    font-style: normal;
    font-weight: 700;
  }
  p {
    text-align: center;
  }
  .black {
    color: black;
  }
  .button {
    border-style: none;
    position: relative;
    bottom: 10%;
    padding-left: 2em;
    padding-right: 2em;
    width: fit-content;
    font-size: 1.25em;
    left: 50%;
    transform: translateX(-50%);
  }
  .button:hover {
    color: white;
    background-color: #ad7600;
  }

  .black .button:hover {
    color: white;
    background-color: #ad7600;
  }
  
  .black .button{
    color: white;
    background: #101820;
  }
</style>
