---
export interface Props {
  title: string;
  sections: any;
}

import Layout from "./Layout.astro";
import Section from "../components/Section.astro";
import SideMenu from "../components/SideMenu.astro";
const { title, sections } = Astro.props;
---

<Layout title={title} />
<SideMenu></SideMenu>
<main class="scrolleable">
    {
      sections.map((data) => (
                <Section
                  title={data.title}
                  cost={data.cost}
                  background={data.background}
                  nav={data.nav}
                  isBlack={data.isBlack}
                  sections = {sections.filter((item)=>item)}
                  info = {data.info}
                />
            ))
    }
</main>

<style>
  .scrolleable {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrolleable::-webkit-scrollbar {
    display: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }
</style>
